.registration {
   

    width: 500px;
    height: 500px;
    padding: 50px;
    box-sizing: border-box;

    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center; 
    text-align: center;


}

.registration-title {
   font-weight: bold;
   font-variant: small-caps;
   justify-content: center;
   align-items: center;
}


label {
    display: inline-block;
    width: 350px;
    clear: left;
    text-align: right;
    
}


.registration-input {
    width: 200px;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;

    justify-content: center;
    align-items: center;


}


.registration-button {
    background-color: #6ebbe7dc; 
    padding-top: 100px;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.registration-button:hover {
    background-color: #3d6e8adc; /* Green */
    color: white;
}