.registration-form {
  margin: auto;
  width: 600px;
  height: 600px;
  padding: 50px;
  box-sizing: border-box;
  padding-top: 100px;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registration-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 12px;
  width: 225px;
  height: 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registration-button:hover {
  color: white;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.form-control {
  width: 490px;
  height: 50px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-top: 15px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 10px;
}

.form-control-placeholder {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
