.quarter-wrapper {
    position: relative;
}
.quarter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.horizontal-line {
    border: 0.5px solid black;
    width: 90%;
}

.left-label {
    position: absolute;
    top: 50%;
    left: 20px;
    font-family: "Arial";
    font-style: italic;
    font-size: 18px;
}