.quarter-wrapper {
    height: 150px;
    position: relative;
}

.quarter-list {
    position: absolute;
    left: 100px;
    display: flex;
    height: 150px;
    width: 85%;
    overflow: hidden;
}

.horizontal-line {
    border: 0.5px solid black;
    width: 90%;
}

.left-label {
    position: absolute;
    top: 50%;
    left: 20px;
    font-family: "Arial";
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 18px;
}