.search-column {
  position: fixed;
  height: 100%;
  background: white;
}

.search-box {
  background: hsl(0, 0%, 76%);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.search-bar {
  width: 305px;
  left: 25px;
  top: 31px;
  margin: 25px;
  padding-left: 0px;
}

.options {
  font-size: 14px;
  padding-left: 45px;
}

.search-subcategory {
  width: 305px;
  left: 25px;
  top: 31px;
  margin: 25px;

  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 9px;

  background: #ededed;
  border-radius: 20px;
  border: #ededed;
  font-size: 14px;
}
